$color-green-light: #24B47E;
$color-green-dark: #319e75;
// $color-badge: #e5e5e5;
$color-badge: #f4f4f4;
$color-red: #ff3d00;
$color-black: #151515;
$color-gray: #ebebeb;

$color-liteTheme-paragraph: rgba(#222222, 0.7);
$color-liteTheme-text: #CFCFCF;

$color-darkTheme-background: #333333;
$color-darkTheme-heading: #ffffff;
$color-darkTheme-text: rgba(#e6e6e6, .7);



$font: 'Inter', 'Arial', 'sans-serif';
$page-side-margin-desktop: clamp(20px, 8.5vw, 120px);
$page-side-margin-tablet: clamp(30px, 5.5vw, 80px);
$page-side-margin-mobile: 5.6vw;
$smallshadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
