
.intro {
  display: flex;
  justify-content: space-between;
  @include shadow($smallshadow);
  @include mobile {
    width: 200px;
  }

  @media (max-width: 600px) {
    background-color: $color-red;
  }
  &__heading {
    font-family: inherit;
    font-style: normal;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $color-black;
  }
  &:hover {

  }

}


