.burger-menu {
  position: relative;
  &__plate {
    max-width: 1440px;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 74px;
    background-color: $color-badge;
    color: black;
    border-color: black;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_theme_dark {
      background-color: $color-darkTheme-background;
      color: white;
    }
  }

  &__burger {
    display: none;
    @include button-styles-reset;
    box-sizing: border-box;
    width: 22px;
    height: 3px;
    background-color: $color-black;

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: -8px;
      left: 0;
      width: 22px;
      height: 11px;
      border-top: 3px solid $color-black;
      // border-color: inherit;
      transition: all .3s;
      &_active {
        transform: rotate(45deg);
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      box-sizing: border-box;
      left: 0;
      width: 22px;
      height: 11px;
      border-bottom: 3px solid $color-black;
      // border-color: inherit;
      transition: all .3s;
      // background-color: $color-black;
    }

    &_active {
      box-sizing: content-box;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      background: transparent;
    }

    &_active:before {
      // top: 0;
      height: 0;
      transform: translateY(8px) rotate(-45deg);

    }

    &_active:after {
      // bottom: 0;
      height: 0;
      transform: translateY(-8px) rotate(45deg);

      // display: none;
    }

    @include tablet {
      position: relative;
      display: block;
      z-index: 2;
      margin-right: 18px;
    }
  }

  &__menu {
    display: flex;
    gap: 34px;
    padding-right: $page-side-margin-desktop;
    @include tablet {
      position: fixed;
      top: -120%;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 70px;
      padding-right: 0;
      overflow: auto;
      // background-color: $color-badge;
      background-color: inherit;
      z-index: 3;
      transition: all 0.3s;
    }

    &_active {
      top: 74px;
    }
  }

  &__theme-control {
    display: none;
    margin-top: auto;
    margin-bottom: 184px;
    @include mobile {
      display: flex;
    }
  }

  &__link {
    @include link;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    @include hover-opacity(0.6);

    @include mobile {
      font-size: 18px;
      z-index: 3;
    }
  }
}
