.pavements {
  padding-left: $page-side-margin-desktop;
  position: relative;


  @include mobile {
    padding-left: $page-side-margin-mobile;
  }

  &__heading {
    @include heading-h2;
    margin-bottom: clamp(40px, 5vw, 50px);
    order: 1;
  }

  &__paragraph {
    @include paragraph-normal;
    margin-bottom: clamp(40px, 6vw, 80px);;
    order: 2;
    @include mobile {
      order: 3;
      margin-bottom: 0;
    }
  }

  &__slider-window {
    width: 100%;
    height: min-content;
    position: relative;
    overflow: hidden;

  }

  &__slider-container{
    display: flex;
    // column-gap: 2.7vw;
    column-gap: 50px;
    align-items: flex-start;
    width: max-content;
    height: min-content;
    transition: all .6s ease-out;
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__card-photos-container {
    display: flex;
    position: relative;
    gap: 2.7vw;
    order: 3;
    margin-bottom: clamp(40px, 12.5vw, 50px);
    @include mobile {
      order: 2;
    }
  }

  &__photo {
    width: 45vw;
    max-width: 650px;
    aspect-ratio: 650 / 400;

    @include mobile {
      width: 85vw;
    }

    &:last-of-type {
      @include mobile {
        display: none;
      }
    }
  }

  &__indicator {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 4%;
    width: 7.4%;
    aspect-ratio: 100 / 40;
    background-image: url(../../images/pavements-indicator-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 14.8%;
    }

  }

  &__indicator-chart {
    width: 50%;
    display: none;
    &:nth-child(1){
      display: block;
    }
  }

  &__buttons-container {
    display: flex;
    gap: clamp(10px, 3.1vw, 20px);

    @include mobile {
      position: absolute;
      top: 0;
      right: $page-side-margin-mobile;
    }
  }

  &__slider-button {
    @include button-styles-reset;
    width: clamp(24px, 5.5vw, 50px);
    height: clamp(24px, 5.5vw, 50px);
    border-radius: 50%;
    background-color: $color-gray;
    background-position: center center;
    background-size: 18%;
    background-repeat: no-repeat;

    &_theme_dark {
      background-color: #434343;
    }

    @include hover-opacity(0.75);

    &_direction_previous {
      background-image: url(../../images/pavements-button-previous.svg);
    }

    &_direction_next {
      background-image: url(../../images/pavements-button-next.svg);
    }


  }


}
